@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Shantell+Sans:wght@500&display=swap');

:root{
    --logo-font: 'Shantell Sans', cursive;
    --content-font: 'Raleway', san-serif;
}

.container{
    text-align: center;
    padding: 5rem;
}

h1{
    font-family: var(--logo-font);
    font-weight: 700;
    letter-spacing: 3rem;
    margin-bottom: 9rem;
}

ul li{
    list-style: none;
    padding: 1.25rem;
}

.link{
    text-decoration: none;
    font-family: var(--content-font);
    font-weight: 500;
    font-size: 24px;
    color: gray;
}